@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap');
body{
    font-family: "Shantell Sans",sans-serif;
    padding: 20px;
}

.links{
    cursor: pointer;
}

.links>a{
    padding: 10px;
    width: 70px;
    border: 1px solid black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}
#service{
    display: none;
}